:root {
  --gradient: linear-gradient(to left top, #dd2476 10%, #ff512f 90%) !important;
}

body {
  background: #111 !important;
}

.card {
  background: #222;
  border: 1px solid #443f41;
  color: rgba(250, 250, 250, 0.8);
  margin-bottom: 2rem;
}
.card-img-top {
    width: 100%;
    height: 300px;
    object-fit: cover; 
}

